Einzelteil_T11.csv
Bestandteile_Fahrzeuge_OEM1_Typ11.csv
Bestandteile_Fahrzeuge_OEM1_Typ12.csv
Fahrzeuge_OEM1_Typ11.csv
Fahrzeuge_OEM1_Typ12.csv
Geodaten_Gemeinden.csv
Bestandteile_Komponente_K2LE1.csv
Bestandteile_Komponente_K2ST1.csv
Komponente_K2LE1.csv
Komponente_K2ST1.csv
Komponente_K7.csv
Logistikverzug_K7.csv
Zulassungen_alle_Fahrzeuge.csv
.Rproj.user
